<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
    
    

    
  <form action="/upload" method="POST" enctype="multipart/form-data">
  Select an image to upload:
  <input type="file" name="image"> 
  <input type="submit" value="Upload Image">
</form>
    <form enctype="multipart/form-data">
  URL:
 
    <input id='butt' type='text' name='imageURL' placeholder='Image URL'>
  
</form>
    <button id='clickit' onclick="submitURL()">submit url</button>
    <ul id='picList'>
       
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='index.js'></script>
</body>
</html>
