<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
<body>
    <script>var pics='';
console.log('wat');
        
        var submitURL;
var login;



function refreshPics(){
    console.log('ran it');
    $.get('/loadPics',function(data){
        
        console.log(data);
        for(var i in data){
            console.log(data[i].url);
            pics = pics+'<li><img src=\''+data[i].url+'\'</img></li>';
            
        }
        
        $('#picList').html(pics);
        
            
    });  
};
    
    submitURL = function(){
        console.log('kk');
        $.get('/url',{'url':$('#butt').val()},function(data){
            
            //console.log(data);
        });
    }
    
    
    login = function(){
        $.get('/login',{'username':$('#username').val(),'password':$('#password').val()},function(data){
            
            console.log(data);
            if(data){
                window.location.replace('/admin');
            }
            else{
                window.location.replace('/');
            }
            
        });
    };
    




refreshPics();</script>
    

    
  <form action="/upload" method="POST" enctype="multipart/form-data">
  Select an image to upload:
  <input type="file" name="image"> 
  <input type="submit" value="Upload Image">
</form>
    
  URL:
 
    <input id='butt' type='text' name='imageURL' placeholder='Image URL'>

  

    <button id='clickit' onclick="submitURL()">submit url</button>
    <br>
        Admin Login:
    <input id='username' type='username' name='user' placeholder='Admin username'>
    <input id='password' type='password' name='pass' placeholder='Admin Password'>
    <button id='loginButton' onclick='login()'>login</button>
    <ul id='picList'>
       
    </ul>
    
</body>
</html>
