<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
<body>
   
    

    
  <form action="/upload" method="POST" enctype="multipart/form-data">
  Select an image to upload:
  <input type="file" name="image"> 
  <input type="submit" value="Upload Image">
</form>
    
  URL:
 <form action='/url' method='POST'>
    <input id='butt' type='text' name='imageURL' placeholder='Image URL'>

  

    <input type='submit' value='submitURL'>
    </form>
    <br>
        Admin Login:
    <form action='/login' method='POST'>
    <input id='username' type='username' name='user' placeholder='Admin username'>
    <input id='password' type='password' name='pass' placeholder='Admin Password'>
    <input type='submit' value='login'>
    </form>
    <ul id='picList'>
       
    </ul>
     <script src='index.js'></script>
</body>
</html>
